//Comienzo Estilo Inicio
.inicio{
	.carousel{
		margin: 7em auto;
		width:80vw;
		height:350px;
		.carousel-item{
			img{
				width: 200px;
			}
		}	
		.indicators{
			margin-left:50px;
			.indicator-item{
				height: 1em;
    			width: 1em;
    			margin: 0em 4px;
    			background-color: #f8f8f8;
			}
			.active{
				background-color: #f64552;
			}
		}
	}
	.btn {
		background-color: #fbd43b;
		left: 27%;
		text-transform: uppercase;
		a{
			color: white;
		}
	}
}
//Fin Estilo Inicio

/*PANTALLA 2*/
.pantalla2{
	.pantalla2-caja{
		.form-text{
			div{
				.img-phone{
					width: 100px;
					height: 80px;
					position: relative;
					top: 50px;
					margin-bottom:50px;
				}
				h3{
					font-weight: bold;
					font-size: 25px;
					margin-bottom: 0px;
				}
				div{
					color: $grisletra;
					font-size: 12px;
					padding-left: 20px;
					margin-top: 0px;
				}
				a{
					background-color: $grisboton;
					font-weight: bold;
				}
			}
		}
		.formulario-caja{
			margin:0;
			.input-field{
				i{
					color: $grisletra;
				}
			}
			.checkbox-terms{
				a{
					color: #13B890;
				}
			}
			button{
				a{
					color: #FFF;
				}
			}
		}
	}
}
/*FIN PANTALLA 2*/


//Inicio Pantalla 3
.pantalla3{
	img{
		width: 100px;
		height: 80px;
		position: relative;
		top: 50px;
		margin-bottom:50px;
    }
    h3{
		font-weight: bold;
		font-size: 25px;
		margin-bottom: 0px;
    }
    p{
    	color: #8f8f8f;
    	span{
    		color: black;
    	}
    }
    form{
    	.input-clave{
    		position:relative;
    		left:50px;
    		width: 18em;
    	}
    	i{
    		color:$grisletra;
    	}
    }
}
//Fin Pantalla 3

//Inicio Pantalla 4

.pantalla4{
	img{
		width: 100px;
		height: 80px;
		position: relative;
		top: 50px;
		margin-bottom:50px;
	}
	h3{
	  font-size: 1.5em;
	  font-weight: 500;
	}
	p{
	  font-size:1.1em;
	  color: #8f8f8f;
	}
	.input-field{
		i{
		  color: #8f8f8f;
		}
	}
	.btn{
	  color: white !important;
 	  font-weight: 600;
	}
}

//Fin Pantalla 4

//Inicio Pnatalla 5
.pantalla5{
	background-color: #fbd43b;
	img{
	  width: 28%;
	  margin-top: 14em;
	}
	
	h3{
	  white-space: pre-line;
	  font-size: 1.5em;
	  font-weight: 500;
	  line-height: 1.5em;
	}
}

//Fin Pantalla 5