/*PANTALLA 2*/
.pantalla2{
	.pantalla2-caja{
		.form-text{
			div{
				.img-phone{
					width: 100px;
					height: 80px;
					position: relative;
					top: 50px;
					margin-bottom:50px;
				}
				h3{
					font-weight: bold;
					font-size: 25px;
					margin-bottom: 0px;
				}
				div{
					color: $grisletra;
					font-size: 12px;
					padding-left: 20px;
					margin-top: 0px;
				}
				a{
					background-color: $grisboton;
					font-weight: bold;

				}
			}
		}
		.formulario-caja{
			margin:0;
			.input-field{
				i{
					color: $grisletra;
				}
			}
			.checkbox-terms{
				a{
					color: #13B890;
				}
			}
		}
	}
}
/*FIN PANTALLA 2*/
//Comienzo Estilo Inicio

.inicio{
	.carousel{
		margin-top: 7em;
		.carousel-slider{
			
		}
		.carousel-item{
			img{
				width: 50%;
			}
		}

		.indicators {
			.indicator-item{
				height: 1em;
    			width: 1em;
    			margin: 0em 4px;
    			background-color: #f8f8f8;

			}
			.active{
				background-color: #f64552;
			}
		}
	}

	.btn {
		background-color: #fbd43b;
		left: 27%;
		text-transform: uppercase;
		margin-top: 3em;
		a{
			color: white;
		}
	}
}
//Fin Estilo Inicio

//Inicio Pantalla 3

.pantalla3{
	img{
		width: 50%;
    	margin-top: 6em;
    	left: 21%;
    	position: relative;
    }
    h3{
    	font-size: 2.5rem;
    }
    p{
    	color: #8f8f8f;
    	span{
    		color: black;
    	}
    }
    form{
    	.input-field{
    		width: 18em;
    	}
    	i{
    		color: #8f8f8f;
    	}
    }
}
//Fin Pantalla 3